# deps
node_modules/
.pnpm-store/

# build outputs
dist/
build/
.next/
.output/
*.tsbuildinfo

# env files
.env
.env.local
.env.*.local
!.env.example

# go
*.exe
*.exe~
apps/daemon/ctrluhr*
apps/daemon/daemon*
vendor/

# os/editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# logs
*.log
npm-debug.log*

# nx cache
.nx/cache/
.nx/workspace-data/
.nx/migrate-runs
